[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
selenium = "*"
pyyaml = "*"
selenium-driver-updater = "*"
requests = "*"

[dev-packages]
pyinstaller = "*"

[requires]
python_version = "3.10"
